body {
    margin: 0 auto;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-flow: column;
}

header.flex-container {
    flex: 1;
    flex-flow: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
} 
header h2 {
    flex: 1;
    margin: 0;
}

header #timer {
    flex: 1;
    align-self: center;
    line-height: 1em;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

header button {
    flex: 1 100px 0;
    align-items: flex-end;
    display: block;
    padding: 10px 20px;
}

section.flex-container {
    flex: 1;
} 

section h3 {
    margin: 0;
    padding: 10px 0;
}

section .left {
    flex: 1;
    height: 80vh;
}

.ql-toolbar.ql-snow {
    height: 5% !important;
    min-height: 40px !important;
}

.ql-container {
    height: 95% !important;
}


section .right {
    flex: 1;
    height: 80vh;
}

.heading.flex-container {
    flex-flow: row;
    align-items: center;
}

.heading h3 {flex: 1;}
.heading select {flex: 1 0 1; width: 200px;}


footer {
    flex: 1;
}

#code-editor {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media only screen and (min-width: 768px) {
body {
    max-width: 1400px;
    margin: 0 auto;
}

header button {
    flex: 1 100px 0;
}

section.flex-container {
    flex-flow: row;
} 

section .right {
    display: relative;
}

footer {
    flex: 1;
}
}

.split, .gutter.gutter-horizontal {
    float: left;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    position: relative;
    color: #debebe;
    background: #debebe;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 400, from(#debebe), to(#fff));
}

.gutter.gutter-horizontal:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: #ed8989;
    border-radius: 50%;
    border:1px solid #ed8989;
}
.gutter.gutter-horizontal:before {
    content: "";
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: #ed8989;
    border-radius: 50%;
    border:1px solid #ed8989;
}

